
.container {
    border-left: 0px solid rgba(0, 0, 0, 0.05);
}

.pagelink {
    font-weight: 500;
    font-style: bolder;
    color: black;
    animation: appear 1s;
    font-size: 16px;
    transition: all 0.5s;
}

.pagelink:hover {
    color: gray;
    font-size: 17px;
    transform: translate(0, -10%);
}

@keyframes appear {
    0% {
        opacity: 0%;
        transform: translate(0, -500%);
    }
    50% {
        color: lightgray;
    }
    80% {
        color: black;
    }
}