
.ball {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: yellow;
}

.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
    left: 50%;
    top: 50%;
}
