
.ball {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    border-radius: 50%;
}

.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    left: 30px;
    top: 50%;
    visibility: hidden;
    transition: opacity 1s;
    opacity: 20%;
    animation: disperse 1s 1 forwards;
    animation-delay: 1.5s;
}

.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    left: 30px;
    top: 50%;
    visibility: hidden;
    transition: opacity 1s;
    opacity: 20%;
    animation: disperse 1s 1 forwards;
    animation-delay: 1.5s;
}

.logoout {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    left: 30px;
    top: 50%;
    transition: opacity 1s;
    opacity: 20%;
    animation: congregate 0.8s 1 forwards;
}

@for $i from 0 to 500 {
    .logo:nth-child(#{$i + 1}) {
    }

    .logo:nth-child(#{$i + 1}):hover {
        opacity: 100%;
    }
    
}

@for $i from 0 to 500 {
    .logoout:nth-child(#{$i + 1}) {
    }

    .logoout:nth-child(#{$i + 1}):hover {
        opacity: 100%;
    }
    
}

@keyframes disperse {
    0% {
        left: 50%;
        top: 50%;
    }
    100% {
        visibility: visible;
    }
}

@keyframes congregate {
    100% {
        left: 50%;
        top: 30%;
        visibility: hidden;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}