
.container {
    position: absolute;
    height: 100%;
    opacity: 100%;
    animation: unvanish 0.5s 1;
    background-color: lightgray;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d1b9f7' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.out {
    position: absolute;
    height: 100%;
    opacity: 0%;
    animation: vanish 0.5s 1;
    background-color: lightgray;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d1b9f7' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.header {
    position: absolute;
    height: 20%;
    background-color: transparent;
    color: #333;
}

.notified {
    height: 30%;
    min-height: 70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: gray 5px 5px 9px 0.01px;
    animation: unvanish 0.5s 1;
}

.unnotified {
    height: 30%;
    opacity: 0%;
    min-height: 70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: gray 5px 5px 9px 0.01px;
    animation: vanish 1s 1;
}

.field {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    height: 40%;
    min-height: 300px;
    background-color: white;
    box-shadow: gray 5px 5px 9px 0.01px;
    overflow: hidden;
}

.form {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
}

.text {
    max-width: 500px;
    width: 50%;
    height: 10%;
    min-height: 30px;
    text-align: center;
    transition: height 0.5s, width 0.5s;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: lightgray;
    color: black;
    transition: background-color 0.2s, color 1s width 1s;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.text:focus, .text:hover {
    background-color: #333;
    color: white;
    width: 70%;
    height: 12%;
}

.message {
    max-width: 500px;
    width: 50%;
    height: 10%;
    resize: none;
    transition: height 0.5s, width 0.5s;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    background-color: lightgray;
    color: black;
    transition: background-color 0.2s, color 1s width 1s;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 8px;
}

.message:focus, .message:hover {
    background-color: #333;
    color: white;
    width: 70%;
    height: 40%;
    overflow-y: scroll;
}

.send {
    margin: 15px;
    width: 50%;
    max-width: 500px;
    height: 40px;
    border: none;
    background-color: lightgray;
    color: gray;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.sendactive {
    margin: 15px;
    width: 50%;
    height: 40px;
    max-width: 500px;
    border: none;
    background-color: #333;
    color: white;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.foot {
    position: absolute;
    height: 200px;
    background-color: transparent;
    bottom: 0%;
}

.back {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    animation: unvanish 0.5s 1;
    border-radius: 50%;
    opacity: 50%;
    transition: opacity 0.2s, box-shadow 0.3s;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.5s;
}

.back:hover {
    opacity: 100%;
    transform: rotate(-90deg);
    box-shadow: gray 2px 2px 8px 0.01px;
}

@keyframes unvanish {
    0% {
        opacity: 0%;
    }
}

@keyframes vanish {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes vanishBack {
    0% {
        opacity: 100%;
        visibility: visible;
    }
    100% {
        opacity: 0%;
    }
}

@media only screen and (max-height: 634px) {
    .notified {
        animation: vanish 1s forwards;
    }
    
    .back {
        animation: vanishBack 0.5s 1;
        opacity: 0%;
        visibility: hidden;
    }

    .message, .send, .text {
        font-size: 12px;
    }
}

@media only screen and (max-height: 570px) {

    .message, .send, .text {
        font-size: 10px;
    }

}