
.container {
    position: absolute;
    height: 100%;
    opacity: 100%;
    animation: unvanish 0.5s 1;
    background-color: lightgray;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d1b9f7' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.header {
    background-color: transparent;
}

.field {
    position: absolute;
    height: 50%;
    background-color: white;
    box-shadow: gray 5px 5px 9px 0.01px;
}

.form {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
}


.text {
    max-width: 500px;
    width: 50%;
    height: 10%;
    min-height: 30px;
    text-align: center;
    transition: height 0.5s, width 0.5s;
    border: none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin: 5px;
    background-color: lightgray;
    color: black;
    font-weight: 500;
    transition: background-color 0.2s, color 1s width 1s;
}

.text:hover {
    background-color: #333;
    color: white;
    width: 70%;
    height: 15%;
}

.message {
    max-width: 500px;
    width: 50%;
    height: 40%;
    resize: none;
    transition: height 0.5s, width 0.5s;
    border: none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 5px;
    font-size: 12px;
    background-color: lightgray;
    color: black;
    font-weight: 500;
    vertical-align: middle;
    transition: background-color 0.2s, color 1s width 1s;
}

.message:hover {
    background-color: #333;
    color: white;
    width: 70%;
}

.send {
    margin: 15px;
    width: 50%;
    height: 40px;
    border: none;
    background-color: lightgray;
    color: white;
}

.sendactive {
    margin: 15px;
    width: 50%;
    height: 40px;
    border: none;
    background-color: #333;
    color: white;
}

.foot {
    background-color: transparent;
}

@keyframes unvanish {
    0% {
        opacity: 0%;
    }
}